CIRCUITPY_WIFI_SSID = ""
CIRCUITPY_WIFI_PASSWORD = ""
DISPLAY_SERVER_IP = ""
DISPLAY_SERVER_PORT = "8000"
FETCH_INTERVAL = "0.5"
DEVICE_NAME = ""
DEVICE_POSITION = "auto"
COLOR_DEPTH = "8"
STREAM_PORT = "8001"
DVI_BOARD = "hstx"
